<%- include("templates/header") %>
create user
<!-- <form action='/submitUser' method='post'>
<input name='username' type='text' placeholder='username'>
<input name='email' type='email' placeholder='email'>
<input name='password' type='password' placeholder='password'>
<button>Submit</button>
</form> -->
<div class="container">
    <main class="form-signin w-100 m-auto">
        <form action='/submitUser' method='post'>
          <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
          <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
          <div class="form-floating">
            <input name="username" type="text" class="form-control" id="floatingPassword" placeholder="Username">
            <label for="floatingPassword">Username</label>
          </div>
          <div class="form-floating">
            <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
      
          <button class="w-100 btn btn-lg btn-primary">Sign in</button>
          <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
        </form>
      </main>
</div>  
<%- include("templates/footer") %>