<%- include('templates/header') %>
<div class="text-center">
    <br><br>
    <h2><%= error %></h2>
    <br>
    <a href="/"><button class="w-10 btn btn-lg btn-primary">Try again</button></a>
</div>

<%- include('templates/footer') %>